{
    "presets": ["@babel/preset-env"],
    "plugins": ["transform-class-properties"],
    "env": {
        "client": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false,
                        "targets": {
                            "browsers": ["last 2 versions"]
                        }
                    }
                ]
            ]
        }
    }
}
