@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticlePage>

<h1>@Model.Headline</h1>

@foreach(var block in Model.Blocks) {
	<div class="block">
		@Html.Partial("Blocks/" + block.DocumentTypeAlias, block)
	</div>
}
