.embedded-content__title-bar {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.embedded-content__title-bar-title {
  display: inline-block;
  margin-right: 6px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

.embedded-content__no-data {
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.8em;
  color: #ccc;
  text-align: center;
}

.embedded-content__content-type-name,
.embedded-content__has-config {
  color: rgba(0, 0, 0, 0.44);
  display: inline;
  font-size: 12px;
}

.embedded-content__item,
.embedded-content-config__item {
  margin: 10px;
  position: relative;
  border: 1px solid transparent;
}

.embedded-content__item--active {
  border-color: #2e8aea;
}

.embedded-content__item-content {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.embedded-content__control-bar {
  display: flex;
  height: 35px;
  align-items: center;
  cursor: move;
  padding: 2px 5px;
  background-color: #f8f8f8;
}

.embedded-content__control-bar--colapsed {
  background-color: #f8f8f8;
  border: 1px solid transparent;
}

.embedded-content__control-bar--colapsed:hover {
  border-color: #2e8aea;
}

.embedded-content__item-title {
  padding-left: 5px;
}

.embedded-content__has-config {
  margin-left: 5px;
}

.embedded-content__has-config::before {
  content: '-';
}

.embedded-content__tools {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.embedded-content__tools-tool {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.embedded-content__placeholder {
  position: relative;
  min-height: 130px;
  margin: 10px;
  background-color: #f8f8f8;
  border-color: #d9d9d9;
  border-style: dashed;
  border-width: 2px;
  transition: border-color 100ms linear;
}

.embedded-content__placeholder--small {
  text-align: center;
  min-height: inherit;
  padding: 5px;
}

.embedded-content__placeholder:hover {
  cursor: pointer;
  border-color: #2e8aea;
}

.embedded-content__add {
  color: #2e8aea;
  padding: 60px;
  text-align: center;
}

.embedded-content__sortable-placeholder {
  margin: 5px 0;
  margin: 0 10px;
  position: relative;
  background-color: #2e8aea;
  height: 2px;
}

.embedded-content__sortable-placeholder::before,
.embedded-content__sortable-placeholder::after {
  position: absolute;
  top: -9px;
  font-family: "icomoon";
  font-size: 18px;
  color: #2e8aea;
}

.embedded-content__sortable-placeholder::before {
  left: -5px;
  content: "\e0e9";
}

.embedded-content__sortable-placeholder::after {
  right: -5px;
  content: "\e0d7";
}

.embedded-content-config .embedded-content__tools-tool:hover {
  color: #0064cd;
}

.embedded-content-config .embedded-content__control-bar {
  cursor: default;
}

.embedded-content__placeholder--small .embedded-content__add {
  position: relative;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}

.embedded-content__item--disabled > .embedded-content__control-bar {
  opacity: 0.5;
}

.embedded-content__item--active > .embedded-content__control-bar {
  background-color: #2e8aea;
  cursor: default;
  color: #fff;
}

.show-validation.ng-invalid .embedded-content__item.ng-invalid .control-label {
  color: #9d261d;
}

.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__content input.ng-invalid,
.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__content select.ng-invalid,
.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__content textarea.ng-invalid {
  border-color: #9d261d;
  color: #9d261d;
}

.show-validation.ng-invalid .embedded-content__item.ng-invalid {
  border-color: #9d261d;
}

.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__control-bar {
  color: #fff;
  background-color: #9d261d;
}

.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__control-bar .embedded-content__hasConfig,
.show-validation.ng-invalid .embedded-content__item.ng-invalid > .embedded-content__control-bar .embedded-content__content-type-name,
.embedded-content__item--active > .embedded-content__control-bar > .embedded-content__item-title > .embedded-content__has-config,
.embedded-content__item--active > .embedded-content__control-bar > .embedded-content__item-title > .embedded-content__content-type-name {
  color: rgba(254, 254, 254, 0.7);
}

.show-validation.ng-invalid .embedded-content__item .ng-valid .control-label {
  color: #343434;
}

.show-validation.ng-invalid .embedded-content__item .ng-valid input,
.show-validation.ng-invalid .embedded-content__item .ng-valid select,
.show-validation.ng-invalid .embedded-content__item .ng-valid textarea {
  border-color: #ccc;
  color: #000;
}

.embedded-content .ui-sortable-helper {
  position: absolute !important;
  background-color: #2e8aea !important;
  height: 42px !important;
  width: 42px !important;
  overflow: hidden;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  font-family: "icomoon";
  box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
}

.embedded-content .ui-sortable-helper::after {
  line-height: 42px;
  font-size: 22px;
  content: "\e126";
  color: #fff;
}

.embedded-content .ui-sortable-helper * {
  display: none;
}

.embedded-content .ui-sortable-helper .embedded-content__tools,
.embedded-content .ui-sortable-helper .embedded-content__add {
  display: none !important;
}
